.btn-pop {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 8px;
    background-color: darkslategray;
    color: white;
    font-size: small;
    font-weight: lighter;
}